useDynLib(Sequgio)
# exportPattern("^[[:alpha:]]+")
export("makeXmatrix","reshapeTxDb","fitModels","doCounts","setCounts","resetCounts","getCounts")
import(GenomicFeatures)
import(GenomicAlignments)
import(BiocParallel)
import(Rcpp)
import(RcppArmadillo)
import(Rsamtools)
import(bigmemory)
import(nnls)
