useDynLib(Sequgio, .registration=TRUE)
# exportPattern("^[[:alpha:]]+")
export("makeXmatrix","reshapeTxDb","fitModels","doCounts","setCounts","resetCounts","getCounts","sumByGene","includeOnly","includeOnly<-")
import(data.table)
import(AnnotationDbi)
import(GenomicFeatures)
import(GenomicAlignments)
import(GenomicRanges)
import(BiocParallel)
import(Rcpp)
import(RcppArmadillo)
import(Rsamtools)
import(bigmemory)
import(nnls)
import(BH)
